{% extends 'home.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block body %}

<div>
    <div class="container">
      <form class="form-login"  method="post">
        <h2 class="form-login-heading">Mot de passe oublié</h2>
        <div class="login-wrap">
          <input class="form-control" placeholder="Saisir votre email" type="email" id="inputEmail" name="email" required autofocus>
          <br>
          <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-envelope"></i> Envoyer</button>
      </form>    
         
      
    </div>
  </div>


{% endblock %}
