{% extends 'baseAdmin.html.twig' %}
 
  {% block javascripts %}
       <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

     <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/lib/jquery.scrollTo.min.js"></script>
  <script src="/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="/lib/common-scripts.js"></script>
  <!--script for this page-->
  <script type="text/javascript" src="/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="/lib/gritter-conf.js"></script>


  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="/stylesheet" type="text/css" href="lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">
    


   
   <script language = "javascript">  
      $(document).ready(function(){   
            $.ajax({  
               url:        '/vol/vols_en_cours' ,  
               type:       'GET',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  
            
        
                  for(i = 0; i < data.length; i++) {  
                     vol = data[i];  
                     var e = $('<tr><td id = "num_vol"></td>'+
                     '<td id = "aeroport_depart"></td>');
                     
                     var idvol=parseInt(vol['id_vol']);
                 
                    if(vol['aeroports_escales'] !== 0 ){

                     var chaine1='<td><button id="bouttonEscales" class="btn btn-theme" onclick="afficher_escales(idvol)" >Aéroports d\'escales</button></td>';
                     chaine1=chaine1.replace("idvol",idvol);
                     }else{
                       var chaine1='<td>Il n y a pas d\'escales durant ce vol</td>'; 
                     }

                     e.append(chaine1);
                        
                     e.append('<td id = "aeroport_arrivee"></td>'+
                     '<td id = "date_arrivee"></td>'+
                     '<td id = "date_depart"></td>'+
                     '<td id = "code_avion"></td>');
                    
                    var chaine2='<td><button id="bouttonTaches" class="btn btn-theme03" onclick="afficher_taches(idvol)" >'+
                                '<i class="fa fa-list-alt"></i>  Avancement des tâches</button></td>';
                                
                     chaine2=chaine2.replace("idvol",idvol);

                     e.append(chaine2)

                    if(vol['retard_prediction'] == null ){
                     var chaine5='<td id="idvolR"><span class="label label-success pull-right">Pas de retard</span></td>';
                     chaine5=chaine5.replace("idvolR",idvol);
                    }else{
                      var chaine5='<td id="idvolR"><span class="label label-danger pull-right">Vol en retard</span></td>';
                      chaine5=chaine5.replace("idvolR",idvol);
                    }


                     e.append(chaine5);

                    

                     
                     $('#num_vol', e).html(vol['num_vol']);  
                     $('#aeroport_depart', e).html(vol['aeroport_depart']);  
                     $('#aeroport_arrivee', e).html(vol['aeroport_arrivee']);  
                     $('#date_arrivee', e).html(vol['date_arrivee']);  
                     $('#date_depart', e).html(vol['date_depart']);  
                     $('#code_avion', e).html(vol['code_avion']);                  

                     $('#volShow').append(e); 

                  }  


               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  
        
      });  

  //$(function()
//{
 // $('#b').on('click',function()
  //{
    //  $(this).prop('disabled', true);

    
 // });
  
//});

//var disparaitre_boutton = function(a) {
  // $('#c').prop('disabled', true);
  // $('#c').html(a);
   
//};


var afficher_escales= function(idvol) {

    $.ajax({  
               url:        '/vol/aeroports_escales/' + idvol ,  
               type:       'GET',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  

                  $('#myModalLabel').html('Liste des aeroports d\'escales');
        
                   var ch = $('<tr><td class="numeric">Nom de l\'aeroport</td></tr>');
                   $('#tabMod').append(ch); 

                  for(i = 0; i < data.length; i++) {  
                     aeroport = data[i];  
                     var e = $('<tr><td id = "nom_aeroport"></td></tr>');

                     
                     $('#nom_aeroport', e).html(aeroport['nom_aeroport']);                    
                     $('#tabMod').append(e); 
                   
                  }  
                   $('#myModal').modal('show') ;

                

               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  
   
};




var afficher_reclamations_non_traites= function() {

    $.ajax({  
               url:        '/vol/reclamations_non_traites_vols_en_cours'  ,  
               type:       'GET',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  

                  $('#myModalLabel2').html('Reclamations non traitées');
        
                   var ch = $('<tr><td>Numéro de vol</td>'+
                              '<td class="numeric">Tâche</td>'+
                              '<td class="numeric">Date de début tâche</td>'+
                              '<td class="numeric">Cin de l\'employé</td>'+
                              '<td class="numeric">Nom de l\'employé</td>'+
                              '<td class="numeric">Réclamation</td>'+
                              '<td class="numeric">Date de réclamation</td>'+
                              '<td class="numeric">Action</td></tr>');
                   $('#tabMod2').append(ch); 

                  for(i = 0; i < data.length; i++) {  
                     tve = data[i];  
                     var e = $('<tr id = "ligne"><td id = "num_vol"></td>'+
                               '<td id = "tache"></td>'+
                               '<td id = "date_debut_tache"></td>'+
                               '<td id = "cin"></td>'+
                               '<td id = "nom"></td>'+
                               '<td id = "reclamation"></td>'+
                               '<td id = "date_rec"></td>'+
                               '<td id = "action"></td></tr>');

                        if(tve['date_debut_tache'] == null ){
                          $('#date_debut_tache', e).html("La tâche n'est pas encore commencée"); 
                           
                         }
                       else{
                        $('#date_debut_tache', e).html(tve['date_debut_tache']);  
                           
                        }
                      

                        var chaine1='<td><button id="bouttonTraiterRec" class="btn btn-theme" onclick="fonction_traiter_reclamation(idrec)" ><i class="fa fa-check-square"></i>   Traiter</button></td>';
                            chaine1=chaine1.replace("idrec",tve['id_rec']);
                
                        $('#action', e).html(chaine1);  
                           
                        



                     $('#num_vol', e).html(tve['num_vol']);  
                     $('#tache', e).html(tve['tache']);
                     $('#cin', e).html(tve['cin']);
                     $('#nom', e).html(tve['nom_employe']);
                      $('#reclamation', e).html(tve['reclamation']);
                       $('#date_rec', e).html(tve['date_rec']);

                      


                     $('#tabMod2').append(e); 
                   
                  }  
                   $('#myModal2').modal('show') ;

                

               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  
   
};



var afficher_reclamations_traites= function() {

    $.ajax({  
               url:        '/vol/reclamations_traites_vols_en_cours'  ,  
               type:       'GET',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  

                  $('#myModalLabel2').html('Reclamations traitées');
        
                   var ch = $('<tr><td class="numeric">Numéro de vol</td>'+
                              '<td class="numeric">Tâche</td>'+
                              '<td class="numeric">Date de début tâche</td>'+
                              '<td class="numeric">Cin de l\'employé</td>'+
                              '<td class="numeric">Nom de l\'employé</td>'+
                              '<td class="numeric">Réclamation</td>'+
                              '<td class="numeric">Date de réclamation</td>');
                             
                   $('#tabMod2').append(ch); 

                  for(i = 0; i < data.length; i++) {  
                     tve = data[i];  
                     var e = $('<tr id = "ligne"><td id = "num_vol"></td>'+
                               '<td id = "tache"></td>'+
                               '<td id = "date_debut_tache"></td>'+
                               '<td id = "cin"></td>'+
                               '<td id = "nom"></td>'+
                               '<td id = "reclamation"></td>'+
                               '<td id = "date_rec"></td>');
                               
                        if(tve['date_debut_tache'] == null ){
                          $('#date_debut_tache', e).html("La tâche n'est pas encore commencée"); 
                           
                         }
                       else{
                        $('#date_debut_tache', e).html(tve['date_debut_tache']);  
                           
                        }
                      

                        

                     $('#num_vol', e).html(tve['num_vol']);  
                     $('#tache', e).html(tve['tache']);
                     $('#cin', e).html(tve['cin']);
                     $('#nom', e).html(tve['nom_employe']);
                      $('#reclamation', e).html(tve['reclamation']);
                       $('#date_rec', e).html(tve['date_rec']);

                      


                     $('#tabMod2').append(e); 
                   
                  }  
                   $('#myModal2').modal('show') ;

                

               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  
   
};







var afficher_taches= function(idvol) {
  
     $.ajax({  
               url:        '/vol/taches/' + idvol ,  
               type:       'GET',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  

                 $('#myModalLabel').html('Avancement des tâches');
                  var nbrTachesFinies=0 ;
        
                   var ch = $('<tr><td class="numeric">Cin de l\'employe</td>'+
                               '<td class="numeric">Nom de l\'employe'+
                               '<td class="numeric">Tâche</td>'+
                               '<td class="numeric">Date de début tâche</td>'+
                               '<td class="numeric">Date de fin tâche</td>'+
                               '<td class="numeric">Réclamation</td>'+
                               '<td class="numeric">État</td></tr>');
                   $('#tabMod').append(ch); 

                  for(i = 0; i < data.length; i++) {  
                     
                     tve = data[i];  

                     var e = $('<tr><td id = "cin_employe"></td>'+
                              '<td id = "nom_employe" ></td>'+
                              '<td id = "tache" ></td>'+
                              '<td id = "date_debut_tache" ></td>'+
                              '<td id = "date_fin_tache" ></td>'+
                              '<td id = "reclamation" ></td>');
                     
                     $('#cin_employe', e).html(tve['cin_employe']); 
                     $('#nom_employe', e).html(tve['nom_employe']); 
                     $('#tache', e).html(tve['tache']); 

                     if(tve['date_debut_tache'] == null ){
                        $('#date_debut_tache', e).html("La tâche n'est pas encore commencée"); 

                     }
                     else{
                        $('#date_debut_tache', e).html(tve['date_debut_tache']);  
                         
                     }



                      if(tve['date_fin_tache'] == null ){
                        $('#date_fin_tache', e).html("La tâche n'est pas encore terminée");  
                     }
                     else{
                        $('#date_fin_tache', e).html(tve['date_fin_tache']);  
                        nbrTachesFinies++;
                     }

                    if(tve['date_debut_tache'] == null && tve['date_fin_tache'] == null ){
                       e.append('<td align="center" ><span class="label label-danger pull-right">Pas commencée</span></tr>'); 

                    }else if (tve['date_debut_tache'] !== null && tve['date_fin_tache'] == null){
                       e.append('<td><span align="center"  class="label label-info pull-right">Commencée</span</td></tr>'); 
                    }else{
                       e.append('<td><span align="center"  class="label label-success pull-right">Terminée</span></td></tr>'); 
                    }


                     if(tve['reclamation'] == null ){
                        $('#reclamation', e).html("Il n y a pas de réclamation");  
                     }
                     else{
                        $('#reclamation', e).html(tve['reclamation']);
                        $('#reclamation', e).attr("style", "background-color: mediumturquoise");  

                     }


                     $('#tabMod').append(e); 
                 
                  }  
                   var nbrTveTotal=data.length;
                   var pourcentage=(nbrTachesFinies * 100) /nbrTveTotal;
                   var chpr="width: pr%";
                     chpr=chpr.replace("pr",pourcentage);
                   $('#progressBar').attr("style", chpr)   ; 
 
                   $('#myModal').modal('show') ;

                

               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  
   

};


var fonction_traiter_reclamation = function(idrec) {
  
swal({
  title: "Traiter la réclamation",
  text: "Etes-vous sûr de traiter cette réclmation?",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((traite) => {
  if (traite) {
      var ch='/admin/reclamation/traiter_reclamation/'+ idrec + '/1' ;
        window.location.replace(ch);
                          swal("La réclamation est traitée", {
                           icon: "success",
                            });

  } else {
    swal("La réclamation n'est pas encore traitée");
  }
});

};


var initialiserTabMod= function() {
  
   $("#tabMod tr").remove();
   $("#tabMod2 tr").remove();
};

$("#myModal").on('hide.bs.modal', function(){
  $("#tabMod tr").remove();
  $("#tabMod2 tr").remove();
});

$("#myModal2").on('hide.bs.modal', function(){
  $("#tabMod tr").remove();
  $("#tabMod2 tr").remove();
});





     $(document).ready(function(){

  // Search all columns
  $('#txt_searchall').keyup(function(){
    // Search Text
    var search = $(this).val();

    // Hide all table tbody rows
    $('table tbody tr').hide();

    // Count total search result
    var len = $('table tbody tr:not(.notfound) td:contains("'+search+'")').length;

    if(len > 0){
      // Searching text in columns and show match row
      $('table tbody tr:not(.notfound) td:contains("'+search+'")').each(function(){
        $(this).closest('tr').show();
      });
    }else{
      $('.notfound').show();
    }

  });
});

</script>
                             
  {% endblock %}

{% block stylesheets %}

<style>

.f{
    margin-left:60px ;
    margin-top:20px ;

}

.ex {
  margin-left:20px ;
  padding :10px;
  margin-top:20px ;
}

.numeric {
  font-weight: bold;
  text-align : center;
}
a {
  text-decoration: none;
    color: black;

}
td{
  text-align : center;  
}

#myInput{
 padding-right : 200px; 
}
</style>

{% endblock %}

{% block body %}

        <h3><i class="fa fa-angle-right"></i>  Vols en cours</h3>

        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
        
                <button id="bouttonReclamations" class="btn btn-theme ex" onclick="afficher_reclamations_non_traites()" ><i class="fa fa-table"></i>  Réclamations non traitées</button>
                <button id="bouttonReclamations" class="btn btn-theme ex" onclick="afficher_reclamations_traites()" ><i class="fa fa-table"></i>  Réclamations traitées</button>
              

                <form action="#" class="pull-right" style="margin-left: 15px; padding:15px;" >
                      <div class="input-app f">
                        <input type='text' id='txt_searchall' placeholder='Chercher' class="form-control">
                      </div>
                </form>

                <br><br><br>

                
      
              <section id="unseen">  

                   <!--  MODALS -->
            
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                     
                      <table cellpadding="0" cellspacing="0" border="1" class="table table-bordered" id="tabMod" > 
                      </table>     


                      <div class="showback">
                        <h4><i class="fa fa-angle-right"></i> Progression des tâches</h4>
                        <div class="progress progress-striped">
                          <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="400" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">40% Complete (success)</span>
                          </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button"  onclick="initialiserTabMod()" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /showback -->    



          <!-- Modal -->
                        <div class="modal fade"  id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog"  style="width:900px;">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel2"></h4>
                              </div>
                              <div class="modal-body">
                              
                                <table cellpadding="0" cellspacing="0" border="1" class="table table-bordered" id="tabMod2" > 
                                </table>     

                              </div>
                              <div class="modal-footer">
                                <button type="button"  onclick="initialiserTabMod()" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    
                  <table class="table table-bordered table-striped table-condensed">  
                  <thead>
                      <tr>
                      <td class="numeric">Numéro de vol</td>
                      <td class="numeric">Aéroport de départ</td>
                      <td class="numeric">Aéroports d'escales</td>
                      <td class="numeric">Aéroport d'arrivée</td>                  
                      <td class="numeric">Date de départ</td>
                      <td class="numeric">Date d'arrivée</td>
                      <td class="numeric">Code avion</td>
                      <td class="numeric">Avancement des préparatifs</td>
                      <td class="numeric">Retard</td>
                      </tr>
                </thead>
                  <tbody id = "volShow"></tbody>  
                  </table> 

            </section>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-4 -->
        </div>              
            

{% endblock %}
